*{
	font-family: '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
a{
  text-decoration: none;
}
img{
  border: 0;
}

.body_class{
  width: 810px;
  margin: 0 auto;
  background-color: #faf3eb;
}

.container{
  width: 810px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  background-image: asset-url("pc/bg-image.png");
  background-repeat: repeat-y;
}

.header{
  width: 100%;
  height: 70px;
}

.header_logo{
  float: left;
  position: relative;
  top: 50%;
  margin-top: -11px;  
  margin-left: 20px;
}

.header_event_name{
  float: right;
  position: relative;
  top: 50%;
  margin-top: -19px;
}

.contents{
  margin: 30px 80px;
  text-align: center;
}

.title{
  margin-left: 60px;
  margin-bottom: 20px;
}

.share{
  margin: 30px auto;
}

.share_button{
  margin-left: 10px;
}

.letter_container{
  position: relative;
  width: 660px;
  height: 350px;
  left: 10px;
  margin: 15px 0px;
}

.letter_back_image{
  position: absolute;
  left: 0px;
}

.letter_front_image{
  position: absolute;
  left: 102px;
  top: 136px;
  z-index: 1;
}

.letter_contents{
  position: absolute;
  width: 388px;
  height: 227px;
  top: 0px;
  left: 111px;
}

.under_letter{
  position: relative;
  width: 480px;
  height: 50px;
  margin: 10px auto 30px;
}

.message{
  float: left;
  position: relative;
  top:50%;
  margin-top:-6px;
}

#show_present_button{
  float: right;
  position: relative;
  top: 50%;
  margin-top: -16px;
}

.comment_list_container{
  //position: relative;
  width: 643px;
  //height: 280px;
  margin-right: auto;
  margin-left: auto;
//  margin-bottom: 36px;
  //background-image: asset-url("pc/comment_background.png");
  background-color: white;
}

.comment_container{
  width: 603px;
  //height: 60px;
  margin-left: 20px;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid #e1e1e1;
}

.profile_image{
//  position: relative;
  float: left;
//  width: 50px;
//  height: 50px;
//  top: 50%;
  margin-top: 5px;
}

.infomation_comment{
  font-size: 12px;
  margin-top: 5px;
  position: relative;
//  float: right;
  width: 540px;
//  height: 60px;
  margin-left: 40px;
}

.author_comment{
  float: left;
  height: 20px;
  color: #9b9b9b;
  margin-left: 15px;
}

.date_comment{
  float: left;
  width: 120px;
  height: 20px;
  color: #c8c8c8;
}

.comment{
//  clear: both;
//  position: absolute;
  top: 17px;
  color: #9b9b9b;
  text-align: left;
  line-height: 15px;
  padding-top: 5px;
  width: 500px;
  display:inline-block;
}

.paging{
  text-align: center;
  height: 20px;
  padding: 10px 0px;
  color: #B0B0B0;
  font-size: 13px;
  
  a {
    text-decoration:none;
    color: #cccccc;
  }
}

.prizes{
  width: 100%;
  margin-bottom: 50px;  
}
.centering{
  display: block;
  margin: 0 auto;
}

.footer{
  position: relative;
  width: 810px;
  margin: 0 auto;
  bottom: 0px;
  height: 249px;
  padding-bottom: 20px;
  background-color: white;
}

.information_event{
  margin-top: 50px;
  margin-left: 100px;  
}

#button_personal_policy{
  display: block;
  margin-top: 10px;
  margin-left: 170px;
}

#popup_input{
  display: none;
  position: relative;
  width: 450px;
  height: 360px;
  background-image: asset-url("pc/popup/input_background.png");
  text-align: center;
}

.input_textarea{
//	float: left;
  margin-top: 100px;
  width: 350px;
  height: 120px;
  border: 1px solid #dddddd;
  resize: none;
//	margin-left: 46px;
//	margin-bottom: 20px;
	font-size:14px;
}
.presence-error{
	border: 1px solid #ff3333;
	float: left;
	margin-left: 46px;
	margin-bottom: 20px;
}
.star{
	float: left;
	margin-top: 100px;
}
#data_submit{
  display: block;
  margin: 20px auto;  
}

#popup_finish{
  display: none;
  position: relative;
  width: 450px;
  height: 260px;
  border: 1px solid #e3e3e3;
  text-align: center;
  background-image: asset-url("pc/popup/popup_background.png");
  background-repeat: repeat;
}

.close_button{
  position: absolute;
  top: 15px;
  right: 10px;
}

.thanks{
  margin-top: 60px;
  margin-bottom: 30px;
}

.finish_button{
  display: block;
}

#show_present{
  display: none;
  position: relative;
  width: 450px;
  height: 550px;
  border: 1px solid #e3e3e3;
  text-align: center;
  background-image: asset-url("pc/popup/popup_background.png");
  background-repeat: repeat;
}

.present_title{
  margin-top: 50px;
}

.image_bedcloths{
  // display: block;
  margin-top: 30px;
  max-height: 300px;
}

.explain_bedcloths{
  margin: 10px auto;
  height: 60px;
}

.image_paging_list{
  margin: 0 auto;
  bottom: 10px; 

  a {
    text-decoration:none;
  }
}

.image_paging{
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 5px 0;
  background-image: asset-url("pc/popup/paging_icon.png");
}

.icon_active{
  background-image: asset-url("pc/popup/paging_icon_active.png");
}

.popup_footer{
  position: absolute;
  width: 100%;
  bottom: 10px;
}

#personal_policy{
  display: none;
  position: relative;
  width: 450px;
  height: 400px;
  border: 1px solid #e3e3e3;
  background-color: white;
  background-image: asset-url("pc/popup/popup_background.png");
  background-repeat: repeat;
}
.personal_policy_contents{
  width: 370px;
  height: 340px;
  margin-top: 50px;
  margin-left: 30px;
  overflow-y: scroll;
  scroll: invisible;
}
.btn_submit{
  width: 140px;
  
}
.author_date{
  margin-left: 3px;
  color: #BBBBBB;
  
}
.personal_info_text{
 font-size: 12px; 
}

