styles.cssa{
  text-decoration: none;
}
img{
  border: 0;
}

.body_class{
  width: 850px;
  margin: 0 auto;
  background-color: #faf3eb;
}

.container{
  position: relative;
  width: 810px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-image: asset-url("pc/bg-image.png");
  background-repeat: repeat-x;
}

.header{
  width: 100%;
  height: 70px;
}

.header_logo{
  float: left;
  position: relative;
  top: 50%;
  margin-top: -11px;  
  margin-left: 20px;
}

.header_button{
  float: right;
  position: relative;
  top: 50%;
  margin-top: -19px;
}

.contents{
  margin: 30px 80px;
  text-align: center;
}

.img_margin{
  margin: 15px 0px;
}

.letter_container{
  position: relative;
  left: 20px;
  margin: 15px 0px;
}

.letter_contents{
  position: absolute;
  width: 386px;
  height: 210px;
  top: 50px;
  left: 118px;
}

.under_letter{
  position: relative;
  width: 480px;
  height: 50px;
  margin: 50px auto;
}

.message{
  float: left;
  position: relative;
  top:50%;
  margin-top:-6px;
}

.show_present{
  float: right;
  position: relative;
  top: 50%;
  margin-top: -16px;
}

.more_info{
  position: relative;
  bottom: 0px;
  height: 249px;
  padding-bottom: 0px;
}