<div class="top">
	<%#= image_tag("mobile/popup/header.png", class:"popup_header") %>
	<%= link_to mobile_index_path, id: "escape" do %>
		<%= image_tag("mobile/popup/escape.png", class:"popup_escape") %>
	<% end %>
</div>
