<div class="popup">
	<%= render "popup_header" %>
	<div class="popup_content">
		<%= image_tag("mobile/popup/p1_label.png", class:"popup_thanks_label") %>
		<%= link_to "index" do %>
			<%= image_tag("mobile/popup/p1_btn.png", class:"popup_thanks_btn") %>
		<% end %>
	</div>
</div>
<!-- Facebook Conversion Code for thanks1 -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6014588119981';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
var fpw = document.createElement('script');
fpw.async = true;
fpw.src = '//connect.facebook.net/ko_KR/fp.js';
var ref = document.getElementsByTagName('script')[0];
ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6014588119981&amp;value=0&amp;currency=USD" /></noscript>