<div class="popup">
	<%= render "popup_header" %>
	<div class="popup_content">
		<%= image_tag("mobile/popup/p1_label.png", class:"popup_thanks_label") %>
		<%= link_to "index" do %>
			<%= image_tag("mobile/popup/p1_btn.png", class:"popup_thanks_btn") %>
		<% end %>
	</div>
</div>