function user_signed_in(){
};		

$(document).ready(function(){
  $('#message_button').click(function(e) {
    e.preventDefault();
    $.getJSON('/user_signed_in').done(function(json) {
      if(json.result == true){
        message_input_popup();
      }else{
        fb_login();
      }
    });		
  });

  $("#facebook_share_link").click(function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "/viral_actions.json",
      data: {
        'viral_action[platform]': "Facebook",
        'viral_action[device]': "pc"
      },
      success: function (data) {
      }
    });
    share();
  });
  $("#close_finish").click(function(e) {
    e.preventDefault();
    $("#popup_finish").bPopup().close();
    $("#popup_input").bPopup().close();
  });
  $("#show_present_button").click(function(e) {
    e.preventDefault();
    $("#show_present").bPopup({
      follow: [false, false], //x, y
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black'
    });
  });
  $("#button_personal_policy").click(function(e) {
    e.preventDefault();
    $("#personal_policy").bPopup({
      follow: [false, false], //x, y
      positionStyle: 'fixed',
      closeClass: 'close',
      modalColor: 'black'
    });
  });
  $(".image_paging").click(function(e) {
    e.preventDefault();
    $(".image_paging").removeClass('icon_active');
    $(this).addClass('icon_active');
  });
  $("#new_comment").bind("ajax:success", function(evt,data,status,xhr){
    response = JSON.parse(xhr.responseText);
    if(response.status==="success"){
      $("#popup_finish").bPopup({
        follow: [false, false], //x, y
        positionStyle: 'fixed',
        closeClass: 'close',
        modalColor: 'black'
      });
    }else {
    }

  }).bind('ajax:error',function(evt,xhr,status,error){
    var $form = $(this),errors,errorText;
    errors = $.parseJSON(xhr.responseText);
    validation(errors);

  });
  
});
function message_input_popup(){
  $("#popup_input").bPopup({
    follow: [false, false], //x, y
    positionStyle: 'fixed',
    closeClass: 'close',
    modalColor: 'black'
  });
};
function fb_login_spinner(){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 5, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)spin.js
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#fff', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    left: 235-35,
    top: 35-35
  };  
  var target = document.getElementById('message_button');
  var spinner = new Spinner(opts).spin(target);
  return spinner;   
};
var d;
var e;
function fb_login(){
  var spinner = fb_login_spinner();
  FB.login(function(response) {
    if (response.authResponse) {
      // since we have cookies enabled, this request will allow omniauth to parse
      // out the auth code from the signed request in the fbsr_XXX cookie
      spinner.stop();
			d = response.authResponse;
			e = response;
			var url = '/auth/facebook/callback'; 
			// + $.param({
			// signed_request: response.authResponse.signedRequest,
			// uid: response.authResponse.userID,
			// token: response.authResponse.accessToken
			// uid: response.authResponse.extension.token,
			// });
			$.ajax({
				type: "GET",				 
				url: url,
				success: function (data) {
					if(data.success == true)
						message_input_popup();
					else{
						alert("sorry");
					}
				}
			});
    }
  }, { scope: 'email, user_photos, user_birthday, publish_actions, publish_stream' }); // These are the permissions you are requesting
};

function validation(errors){
  console.log(errors);
  $(".star").empty();
  // $('input[data-name ='+error+']').parent().find('span').remove();
  $('textarea[data-name="post_message"]').addClass("presence-error")
  $('textarea[data-name="post_message"]').after("<p class='star post_message'>*</p>");
}

function share() {
  var text = "첫 구매 고객님에게\n시크릿 프로그래밍 에센스(40ml)를 선물로 드립니다.";
  var share_content = {
    method: "feed",
    name: "감사한 마음이 이불이 됩니다",
    link: "<%= Rails.application.secrets.url %>?s=fb",
    picture: '<%= Rails.application.secrets.url + asset_url("sns/facebook_share.png") %>',
    caption: "부모님께 전하는 메세지를 남겨주세요.",
    description: text
  };
  FB.ui(share_content, function(response) {
    if(response && response.post_id) {
      track_viral_action(viral_url, "facebook");
      alert("공유되었습니다.");
    }
    else {
      alert("다시 공유해주세요!");
    }
  });
}
